<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Trovit!</title>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th><a href="?s=id">ID</a></th>
					<th><a href="?s=city">City</a></th>
					<th><a href="?s=title">Title</a></th>
					<th>Picture</th>
				</tr>
			</thead>
			<tbody>
				{{range $ad := .Ads}}
				<tr>
					<td>{{$ad.Id}}</td>
					<td>{{$ad.City}}</td>
					<td><a href="{{$ad.URL}}">{{$ad.Title}}</a></td>
					<td>
					{{with $pics := .Pictures.Pictures}}
						{{with $pic := (index $pics 0).URL}}
						<a href="{{$pic}}">
							<img src="{{$pic}}"
								alt="{{$ad.Title}}, {{$ad.City}}"
								height="100"
							>
						</a>
						{{end}}
					{{else}}
						Picture not available.
					{{end}}
					</td>
				</tr>
				{{end}}
			</tbody>
		</table>
	</body>
</html>
